body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
.divFormulario {
    margin-top: 100px;
    width: 100%;
    height: auto;   
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 16px;
    border: transparent;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.1);
}

.divFormulario form {
    gap: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divFormulario form label {
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 500;
    text-align: start;
    text-transform: initial;
}

.divFormulario form select {
    width: auto;
    height: auto;
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 500;
    text-align: start;
    padding: 4px;
    background: transparent;
    border: 1px solid #1a1a1a;
    border-radius: 6px
}

.divFormulario form select:focus {
    outline: none;
    border-color: #ccc;
}

.divFormulario form select option {
    width: auto;
    height: auto;
    padding: 25px;
    color: #1a1a1a;
    font-size: 16px;
}

/*Container - Form Productora */
.divformularioProductora {
    width: 105%;
    height: auto;
}

.divformularioProductora h1 {
    color: #1a1a1a;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.divformularioProductora form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.divformularioProductora form label {
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding: 0px 0px 10px;
}

.divformularioProductora form input {
    width: 40%;
    margin-bottom: 10px;
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 500;
    text-align: start;
    background: transparent
}

.divformularioProductora form button {
    color: #1a1a1a;
    width: 25%;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    background: transparent;
    border: 1px solid #1a1a1a;
    border-radius: 6px;
    transition: .6s ease;
}

.divformularioProductora form button:hover {
    color: #fff;
    background: #1a1a1a;
}

/* Linea */
.line {
    width: 80%;
    height: 1.9px;
    background: #ccc;
    border-radius: 20px;
}
/* Table - Formulario Productora */
.table h1 {
    margin-top: 10px;
}

.container-table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
    border-radius: 20px;
    border: 3px solid #1a1a1a;
}

.container-table th, .container-table td {
    border: 1px solid #1a1a1a;
    padding: 8px;
    text-align: left;
}

.container-table td {
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.container-table th {
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding: 15px;
    background: rgba(255, 255, 255, 0.2);
}

.container-table tbody tr:nth-child(even) {
    background: rgba(255, 255, 255, 0.2);
}

.container-table tbody tr:nth-child(odd) {
    background: rgba(255, 255, 255, 0.2);
}

.container-table tbody tr:hover {
    background: rgba(255, 255, 255, 0.2);
}

/* Container - Formulario Productora */
.divformularioDirector {
    width: 105%;
    height: auto;
}

.divformularioDirector h1 {
    color: #1a1a1a;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.divformularioDirector form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.divformularioDirector form label {
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding: 0px 0px 10px;
}

.divformularioDirector form input {
    width: 40%;
    margin-bottom: 10px;
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 500;
    text-align: start;
}

.divformularioDirector form button {
    color: #fff;
    width: 20%;
    padding: 13px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    background: #3164f4ff;
    border: transparent;
    border-radius: 6px;
}

/* Linea */
.line {
    width: 80%;
    height: 1.6px;
    background: #ccc;
    border-radius: 20px;
}
/* Table - Formulario Productora */
.table h1 {
    margin-top: 10px;
}

.container-table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
    border-radius: 20px;
    border: 3px solid #1a1a1a;
}

.container-table th, .container-table td {
    border: 1px solid #1a1a1a;
    padding: 8px;
    text-align: left;
}

.container-table td {
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.container-table th {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding: 15px;
    background: rgba(33, 39, 56, 0.8);
}

.container-table tbody tr:nth-child(even) {
    background-color: #fff;
}

.container-table tbody tr:nth-child(odd) {
    background-color: #ccc;
}

.container-table tbody tr:hover {
    background-color: #ddd;
}

/*Container - Form Genero */
.divFormularioGenero {
    width: 105%;
    height: auto;
}

.divFormularioGenero h1 {
    color: #1a1a1a;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.divFormularioGenero form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.divFormularioGenero form label {
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding: 0px 0px 10px;
}

.divFormularioGenero form input {
    width: 40%;
    margin-bottom: 10px;
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 500;
    text-align: start;
}

.divFormularioGenero form button {
    color: #fff;
    width: 25%;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    background: #3164f4ff;
    border: transparent;
    border-radius: 6px;
}

/* Linea */
.line {
    width: 80%;
    height: 1.6px;
    background: #ccc;
    border-radius: 20px;
}
/* Table - Formulario Genero */
.table h1 {
    margin-top: 10px;
}

.container-table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
    border-radius: 20px;
    border: 3px solid #1a1a1a;
}

.container-table th, .container-table td {
    border: 1px solid #1a1a1a;
    padding: 8px;
    text-align: left;
}

.container-table td {
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.container-table th {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding: 15px;
    background: rgba(33, 39, 56, 0.8);
}

.container-table tbody tr:nth-child(even) {
    background-color: #fff;
}

.container-table tbody tr:nth-child(odd) {
    background-color: #ccc;
}

.container-table tbody tr:hover {
    background-color: #ddd;
}

/*Container - Form Tipo */
.divFormularioTipo {
    width: 105%;
    height: auto;
}

.divFormularioTipo h1 {
    color: #1a1a1a;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.divFormularioTipo form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.divFormularioTipo form label {
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding: 0px 0px 10px;
}

.divFormularioTipo form input {
    width: 40%;
    margin-bottom: 10px;
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 500;
    text-align: start;
}

.divFormularioTipo form button {
    color: #fff;
    width: 25%;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    background: #3164f4ff;
    border: transparent;
    border-radius: 6px;
}

/* Linea */
.line {
    width: 80%;
    height: 1.6px;
    background: #ccc;
    border-radius: 20px;
}
/* Table - Formulario Tipo */
.table h1 {
    margin-top: 10px;
}

.container-table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
    border-radius: 20px;
    border: 3px solid #1a1a1a;
}

.container-table th, .container-table td {
    border: 1px solid #1a1a1a;
    padding: 8px;
    text-align: left;
}

.container-table td {
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.container-table th {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding: 15px;
    background: rgba(33, 39, 56, 0.8);
}

.container-table tbody tr:nth-child(even) {
    background-color: #fff;
}

.container-table tbody tr:nth-child(odd) {
    background-color: #ccc;
}

.container-table tbody tr:hover {
    background-color: #ddd;
}

/*Container - Form Media */
.divFormularioMedia {
    width: 105%;
    height: auto;
}

.divFormularioMedia h1 {
    color: #1a1a1a;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.divFormularioMedia form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.divFormularioMedia form label {
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding: 0px 0px 10px;
}

.divFormularioMedia form input {
    width: 40%;
    margin-bottom: 10px;
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 500;
    text-align: start;
    background: transparent
}

.divFormularioMedia form button {
    color: #1a1a1a;
    width: 25%;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    background: transparent;
    border: 1px solid #1a1a1a;
    border-radius: 6px;
    transition: .6s ease;
}

.divFormularioMedia form button:hover {
    color: #fff;
    background: #1a1a1a;
}

/* Linea */
.line {
    width: 80%;
    height: 1.9px;
    background: #ccc;
    border-radius: 20px;
}
/* Table - Formulario Media */
.table h1 {
    margin-top: 10px;
}

.container-table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
    border-radius: 20px;
    border: 3px solid #1a1a1a;
}

.container-table th, .container-table td {
    border: 1px solid #1a1a1a;
    padding: 8px;
    text-align: left;
}

.container-table td {
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.container-table th {
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding: 15px;
    background: rgba(255, 255, 255, 0.2);
}

.container-table tbody tr:nth-child(even) {
    background: rgba(255, 255, 255, 0.2);
}

.container-table tbody tr:nth-child(odd) {
    background: rgba(255, 255, 255, 0.2);
}

.container-table tbody tr:hover {
    background: rgba(255, 255, 255, 0.2);
}