.divNavbar{
    background-color: /*#19181b*/ red;
    width: 25vw;
    height: 120vh;
    max-height: 120%;
    display: flex;
}

.divLogo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.divLogo img{
    width: 100%;
    height: auto;
}

.tituloLink {
    color: #d6dcf1;
    font-size: 1.5em;
    margin: 10px;
}

.cajaUl{
    border-radius: 10px;
    border: 1px solid #0890f8;
    background-color: #19181b;
    display: grid;
    grid-template-columns: auto auto;
}

.cajaUl li a{
    color: #d6dcf1;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;

}

.cajaUlAdministrador{
    border-radius: 10px;
    border: 1px solid #0890f8;
    background-color: #19181b;
    display: grid;
    grid-template-rows: auto auto;
}

.cajaUlAdministrador li a{
    color: #d6dcf1;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
}

.navBar {
    width: 500px;
}
.deltails{
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    text-decoration: none;
}

.summary{
    list-style: none;
    text-align: center;
    text-decoration: none;
}

.cajaUlAdministrador button{
    border-radius: none;
    border: none;
    color: #d6dcf1;
    background-color: #19181b;
    grid-template-rows: auto auto;
    font-size: 17px;
    display: block;

}



