.divNavbar{
    background-color: #141a32;
    width: 30vw;
    height: 100vh;
    display: flex;
}

.divLogo{
    display: flex;
    justify-content: center;
    align-items: center;

}

.divLogo img{
    max-width: 100%;
    height: auto;
}

nav{
    width: 100vw;
}