

.divFormulario{
    position: absolute;
    top: 20%;
    left: 30%;
    display: block;
    box-sizing: border-box;
    width: 800px;
    height: 500px;
    background-color: #1c1c1c;
    margin: auto;
    border: 10px solid #d6dcf1;
    border-radius: 10px;
    padding: 20px;
    color: #d6dcf1;
    font-family: 'Poppins', sans-serif;
}

.selectFormulario {
    width: 20vw;
    height: 40px;
    margin: 10px;
    border-radius: 10px;
    background-color: #1f2a4b;
    color: #d6dcf1;
    font-family: 'Poppins', sans-serif;

}

.selectFormulario option:checked {
    display: none;
    height: 40px;
    background-color: #1f2a4b;
    color: #d6dcf1;
    font-family: 'Poppins', sans-serif;

}

h1{
    font-family: 'Poppins', sans-serif;
}
